.CommunityGoodsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
}

.CommunityGoods {
    border-radius: 10px;
    background: #2D82B7;
    padding: 10px;
    img {
        width: 100%;
        border-radius: 10px;
    }
 }

.CommunityGoodsName {
    font-weight: bold;
   
}

.CommunityGoodsFooter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.CommunityGoodsPrice {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.actionButtons {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.CommunityGoodsHeader {
   display: flex;
   justify-content: space-between;
   align-items: center; 
   margin-bottom: 10px;
}
.CommunityGoodsListWrapper {
    min-height: 200px;
    /* height: 300px;
    overflow-y: auto; */
}