BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:8787
BETTER_AUTH_BASE_URL=http://localhost:8787/api/auth
DATABASE_URL=postgresql://nicolasshuaishuai@localhost:5432/cos72_community?schema=public
TRUSTED_ORIGINS=http://localhost:5173
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
PASSKEY_RP_ID=localhost
MIGRATION_SECRET=
