.Root {
    display: flex;
    gap: 20px;
}

.DemoPanel {
    flex: 1;
   
}

.SourcePanel {
    flex: 2;
}




.input {
    width: 100%;
}

.inputRow {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
.Config {
    margin-bottom: 20px;
}

.tokenInfo {
    display: flex;
    justify-content: space-between;
}

.DataTable {
    margin-top: 20px;
}
