.Root {
   
   
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Avatar {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.End {
    margin-right: 10px;
}
.Logo {
    height: 50px;
}

.Content {
   background-color: #374151;
   border: 1px solid #424b57;
    border-radius: 6px;
    padding: 20px;
  
    height: calc(100vh - 130px) ;
}

.Wallet {
    display: flex;
    gap: 20px;
    height: 100%;
}
.USDTContent {
    flex: 1;
   
}

.NFTContent {
    flex: 1;
}

.mintUSDTBtn {
    width: 50%;
}

.USDTAmount {
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.btnRow {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.USDTContentWrapper {
  
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menuActive div {
    background-color: #424b57;
}

.NFTCardList {
    display: flex;
    gap: 20px;
}

.NFTCard {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #424b57;
    padding: 10px;
    border-radius: 10px;
    img {
        width: 100px;
    }
}
.Community {
    background-color: #1f2937;
    border: 1px solid #424b57;
    border-radius: 6px;
    padding: 20px;
  
    height: calc(100vh - 180px) ;
}
.CommunityDataView {
    background-color: transparent;
}
.CommunityCardList {
    margin-top: 10px;
    display: flex;
    gap: 30px;
}
.CommunityCard {
    border-radius: 10px;
    background-color: #424b57;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 50%;
    
}

.CommunityImg img {
    width: 100px;
}
.NFTText {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.NFTImg {
    display: flex;
    justify-content: center;
}
.InputText {
    width: 50%;
}

.ContractAddress {
    cursor: pointer;
    margin-bottom: 20px;
}