NEXT_PUBLIC_API_URL=http://localhost:3000/api/v1
BACKEND_API_URL=http://127.0.0.1:3000
KMS_PROXY_URL=https://kms1.aastar.io
NEXT_PUBLIC_KMS_URL=https://kms1.aastar.io
NEXT_PUBLIC_KMS_API_KEY=<YOUR_KMS_API_KEY>
NEXT_PUBLIC_BLS_SEED_NODE=https://v1.aastar.io
NEXT_PUBLIC_CHAIN_ID=11155111

# AAStar canonical contract addresses (Sepolia 11155111)
NEXT_PUBLIC_REGISTRY_ADDRESS=0x7Ba70C5bFDb3A4d0cBd220534f3BE177fefc1788
NEXT_PUBLIC_GTOKEN_ADDRESS=0x9ceDeC089921652D050819ca5BE53765fc05aa9E
NEXT_PUBLIC_XPNTS_FACTORY_ADDRESS=0x6EafdA3477F3eec1F848505e1c06dFB5532395b6
NEXT_PUBLIC_APNTS_ADDRESS=0xDf669834F04988BcEE0E3B6013B6b867Bd38778d
NEXT_PUBLIC_SUPER_PAYMASTER_ADDRESS=0x16cE0c7d846f9446bbBeb9C5a84A4D140fAeD94A
NEXT_PUBLIC_PAYMASTER_FACTORY_ADDRESS=0xfDE4671581F21C9e54Cafa95FA6Da98678750F4d
