.Community {
    display: flex;
    padding: 20px 0px;
    border-bottom: 1px solid #e5e7eb;
}

.CommunityInfo {
    width: 300px;
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.CommunityImage {
    width: 70px;
    height: 70px;
}

.CommunityName {

}

.CommunityStoreList {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.CommunityStoreImage {
    width: 140px;
}